body { 
    background-image: url("/img/backGround.jpg");
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-repeat: no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;  
    font-family: 'Dancing Script', cursive;  
}
.header{
    color: white;
    text-align: center;
}
.scrapeBtn{
    background-color: black !important;
    color: white;
    margin-left: 370px;
}
.noteTag{
    color: white;
    background-color: black;
}
.articleText{
    background-color: white
}
.saveBtn{
    background-color: black !important;
    color: white;
}

      #wrapper {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5%;
      }
      #articles{
        display: inline-block;
        overflow: auto;
        width: 70%;
        height: 700px;
        font-size: 20px;
      }
      #notes {
        float: right;
        width: 20%;
      }
      textarea, input {
        display: block;
        width: 100%;
        background-color:white;
      }
      input {
        height: 36px;
        font-size: 24px;
      }
      textarea {
        height: 200px;
        font-size: 18px;
      }